body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#datosGuardados {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#resultados {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}